In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson,skellam

epl_2021 = pd.read_csv("E0.csv")
epl_2021 = epl_2021[['HomeTeam','AwayTeam','FTHG','FTAG']]
epl_2021 = epl_2021.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals'})
epl_2021.head()

         HomeTeam     AwayTeam  HomeGoals  AwayGoals
0          Fulham      Arsenal          0          3
1  Crystal Palace  Southampton          1          0
2       Liverpool        Leeds          4          3
3        West Ham    Newcastle          0          2
4       West Brom    Leicester          0          3